html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
 list-style: none;
}
.calculator {
    background: #565656;
    width: 500px;
    height: 100%;
    padding: 1px;
    border-radius: 30px;
}

.list {
    margin-left: 10px;
    display: flex;
    text-align: center;
    width: 200px;
    height: 400px;
    overflow: auto;
    font-size: 1.0em;
}

.panelResult {
    background: #51b7e2;
    border: none;
    height: 5rem;
    width: 87%;
    text-align: right;
    border-radius: 20px;
    overflow: auto;
   
    
    
    font-size: 4rem;
    color: #fcfafb;
}

.btn {
    cursor: pointer;
    text-align: center;
    background: #8f9299;
    border: none;
    color: #fbfcfd;
    border-radius: 10%;
    width: 20%;
    margin: 1.3%;
    font-weight: bold;
    font-size: 3rem;
}

.panel {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
}


.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%
}


.row {
    display: flex;
    width: 90%;
}


.red {
    background: #e16046 !important;
}

.act {
    background: #54b6dd !important;
}

@media screen and (max-width: 830px) {
    .calculator {
        width: 320px;
    }
    body {
        flex-direction: column;
    }
    .btn {
        font-size: 2rem;
    }
}

